.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.intro {
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
}

.timestampBox {
  height: 10rem;
  overflow: scroll;
  margin-top: 1.5em;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 0.25em 0;
}

.videoBox {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.timeStampList {
  margin: 0;
  list-style-image: url("../public/images/pushpin.png");
}

.listItem {
  padding: 0.5rem;
}

.listItem:hover {
  background-color: rgb(232, 233, 178);
}

.lightText {
  color: #999;
}

.centerListItem {
  text-align: center;
  margin: 0.5em 0;
  list-style-type: none;
  list-style-image: none;
}
